.container {
  height: 75px;
  width: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.linksContainer {
}

.link {
  text-decoration: none;
  margin-right: 10px;
  color: #d9dcd6;
}

.active {
  color: #d9dcd6;
  text-decoration: none;
  margin-right: 10px;
  border-bottom: solid blue 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
